p {
    background-color: #f8f8f8;
    color: #333;
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #ddd;
  }