.card-container {
  width: 320px; /* Agrandado el ancho para que entren 3 por línea */
  height: 420px; /* Agrandado el alto para que entren 3 por línea */
  margin: 40px; /* Aumentado el margen */
  display: inline-grid;
  place-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;

  transition: transform 0.3s ease;
  cursor: pointer;
}

.card-container:hover {
  transform: translateY(-5px);
}

.nombre-container {
  text-align: center;
  margin: 10px;
  order: -1;
}

.button-container {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px; /* Ajustado para subir un poco el botón */
}

.button-container:hover {
  background-color: rgb(181, 14, 181);
}

.imagen-tamaño {
  width: 60%; /* Agrandado el ancho para que entren 3 por línea */
  height: auto;
}

.varietal-tamaño {
  color: rgb(181, 14, 181);
  font-size: larger;
  font-weight: normal;
}

.detalles-card{
  text-decoration: none;
  color: rgb(181, 14, 181);
  font-weight: bold;
  cursor: pointer;
  border: none; 
  text-decoration: none;
}

.detalles-card:hover {
  color: rgb(180, 61, 239);

}
