. {
  color: white;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 50%;
  background-color: white; /* Cambiado el color de fondo a blanco */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}
